#record {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color:firebrick;
    background-color: darkslateblue;
}

#buy {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
    color:firebrick;
    background-color: darkslateblue;
}